@model Hunter.Entities.Form

@this.Html.Raw(this.Model.Html)

<button class="btn-block btn btn-primary" id="btn-save" type="button">保存</button>

@section Scripts
{
<script>
        var _id = "@this.ViewData["id"]"
        var _dataID = "@this.ViewData["dataID"]"
        var initData = function () {
            $.ajax({
                url: '@this.Url.Content("~/Form/GetDynamicData")' + '?id=' + _id + '&dataID=' + _dataID,
                type: 'post',
                contentType: 'application/json',
                success: function (data) {
                    $("body").fillData(data)
                }
            })
        }
        var saveData = function (obj) {
            $.ajax({
                url: '@this.Url.Content("~/Form/Fill")' + '?id=' + _id + '&dataID=' + _dataID,
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success: function () {
                    alert("保存成功")
                }
            })
        }
        $(function () {
            initData();
            $("#btn-save").click(function () {
                var obj = $("body").serializeData();
                saveData(obj)
            });
        })
</script>
}