
@model MongoDB.Bson.BsonDocument
@{ 
    var jsonWriterSettings = new MongoDB.Bson.IO.JsonWriterSettings { OutputMode = MongoDB.Bson.IO.JsonOutputMode.Strict };
}

@this.Html.Raw(this.Model.TryGetValue("html"))

<button class="btn-block btn btn-primary" id="btn-save" type="button">保存</button>

@section Scripts
{
    <script>
        var _id = "@this.ViewData["id"]"
        var _dataID = "@this.ViewData["dataID"]"
        var saveData = function (obj) {
            $.ajax({
                url: '@this.Url.Content("~/Form/Fill")' + '?id=' + _id + '&dataID=' + _dataID,
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(obj),
                success: function () {
                    alert("保存成功")
                }
            })
        }
        $(function () {
            @this.Html.Raw("var initializeData = " + this.Model.TryGetValue("data").ToJson(jsonWriterSettings))
            fillData(initializeData)
            $("#btn-save").click(function () {
                var obj = $("body").SerializeData();
                console.log(obj)
                //saveData(obj)
            });
        })
    </script>
}