@model Hunter.Entities.Form

@section Styles
{
	<environment include="Development">
		<link rel="stylesheet" href="~/Libraries/bootstrap-table/1.11.1/bootstrap-table.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="~/Libraries/bootstrap-table/1.11.1/bootstrap-table.min.css" />
	</environment>
}

<div style="padding: 0px 2em;">
    <div id="toolbar" class="btn-group">
        <button id="btn-insert" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <span>新增</span>
        </button>
        <button id="btn-update" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            <span>修改</span>
        </button>
        <button id="btn-delete" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            <span>删除</span>
        </button>
        <button id="btn-pdf" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            <span>PDF</span>
        </button>
    </div>
	<table id="table"></table>
</div>
<div style="display: none" id="initialize-columns">@this.Json.Serialize(this.Model.Columns)</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/Libraries/bootstrap-table/1.11.1/bootstrap-table.js"></script>
        <script src="~/Libraries/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/Libraries/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
        <script src="~/Libraries/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
    </environment>
    <script>
        var getInitializeColumns = function () {
            var temp = []
            try {
                temp = JSON.parse($('#initialize-columns').text())
                if (!temp)
                    temp = [];
            } catch (e) {
                temp = []
            }
            var result = [{ checkbox: true }]
            for (var i = 0, length = temp.length; i < length; i++) {
                temp[i].field = "Data." + temp[i].field
                result.push(temp[i])
            }
            return result
        }

        $(function () {
            var options = $.extend($.BootstrapTable.DEFAULT, {
                url: '@this.Url.Action("Query", new { id = this.Model.ID })',
                columns: getInitializeColumns()
            })
            var $table = $('#table').bootstrapTable(options);

			$(window).resize(function () {
				$table.bootstrapTable('resetView', {
					height: $('body').height()
				});
			}).resize()
			var edit = function (id) {
				id = id ? id : ''
				window.top.layer.open({
					type: 2,
					title: '编辑',
					maxmin: false, //开启最大化最小化按钮
					area: ['80%', '80%'],
					content: '@this.Url.Action("Edit", new { id = this.Model.ID })' + '?DataID=' + id
				})
				window.top.RefreshList = function () {
					$table.bootstrapTable('refresh');
				}
			}
            $('#btn-insert').click(function () {
                edit('')
			})
			$('#btn-update').click(function () {
				var selections = $table.bootstrapTable('getSelections');
				if (selections.length == 0) {
					window.top.layer.msg('请选择', { icon: 0 });
				} else {
					edit(selections[0].ID)
				}
            })
            $('#btn-delete').click(function () {
                var selections = $table.bootstrapTable('getSelections');
                if (selections.length == 0) {
                    window.top.layer.msg.warning('请选择')
                } else {
                    $.ajax({
                        url: '@this.Url.Action("Remove", new { id = this.Model.ID })' + '?DataID=' + selections[0].ID,
                        type: 'post',
                        success: function () {
                            window.top.layer.msg.success('删除成功')
                            $table.bootstrapTable('refresh');
                        }
                    })
                }
            })
            $('#btn-pdf').click(function () {
                var selections = $table.bootstrapTable('getSelections');
                if (selections.length == 0) {
                    window.top.layer.msg('请选择', { icon: 0 });
                } else {
                    var url = '@this.Url.Action("Download", new { id = this.Model.ID })' + '?type=PDF&DataID=' + selections[0].ID
                    window.open(url)
                }
            })
		})
    </script>
}
